torch
torchtext
torchvision
pytorch_warmup
botorch >= 0.9.4
wandb
tabulate
omegaconf
hydra-core >= 1.2.0
tqdm
pandas
cachetools
edlib
transformers
lightning == 1.9.5
pytorch-lightning == 1.9.5
universal-pathlib
pyarrow
s3fs
